	<div style="text-align:justify;width:80%;margin:auto">
	<h2 style="text-align:center;">Задание</h2><br/>
	<h3 style="text-align:center;">Шифр темы: 10</h3><br/>
	<p>Спроектировать базу данных (БД), построить программу, обеспечивающую взаимодействие с ней в режиме диалога, для менеджера музыкальных групп.</p>
	<p>В БД должны храниться сведения о группах: название, год образования, страна, состав исполнителей, положение в последнем хит-параде (может измениться); о репертуаре каждой группы: название песен, композитор, автор текста; данные о последних гастролях группы: название гастрольной программы, место, дата начала и окончания гастролей, цена билета (зависит от места гастролей и положения в хит-параде). Возможно появление новой группы и изменение состава исполнителей. Каждая песня может быть в репертуаре только одной группы.</p>
	<p>Предусмотреть возможность получения сведений (в виде справки):</p>
	<ul style="list-style-type:none">
		<li>– год образования, страна группы данного названия;</li>
		<li>– репертуар наиболее популярной группы;</li>
		<li>– автор текста, композитор и дата создания песни с данным названием;</li>
		<li>– место и продолжительность гастролей группы данного названия;</li>
		<li>– цена билета на концерт указанной группы;</li>
		<li>– состав исполнителей группы данного названия, их возраст и амплуа.</li>
	</ul>
	<p>Администратор БД может вносить следующие изменения:</p>
	<ul style="list-style-type:none">
		<li>– ввод новой группы;</li>
		<li>– изменение положения группы в хит-параде;</li>
		<li>– удаление информации об исполнителе, покинувшем группу.</li>
	</ul>
	<p>Необходимо предусмотреть возможность выдачи справки о лучших трёх группах в хит-параде и отчёта о гастролях групп (название группы, место и сроки гастролей, репертуар с указанием автора песен).</p>
	<p>Предусмотреть вывод справок и отчётов на печать по требованию пользователя.</p>
</div>