<h3>Типы оборудования</h3>

<%= link_to 'Добавить тип', new_type_path %>

<div class='clear_fix'></div>

<div class='table_background'>
  <table class='major_table'>
    <thead>
      <tr>
        <th>Название</th>
        <th colspan=2></th>
      </tr>
    </thead>

    <tbody>
      <% @types.each do |type| %>
        <tr>
          <td><%= type.name %></td>
          <td colspan=2>
            <%= link_to '', edit_type_path(type), class: 'icon_24 edit_24' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='clear_fix'></div>

<%= link_to 'Добавить тип', new_type_path %>
