<%= form_for @bill do |f| %>

  <table class='form_table'>
    <tr>
      <td><%= f.label "№ ОВКС:" %></td>
      <td><%= f.text_field :ovks_num %></td>
    </tr>
    <tr>
      <td><%= f.label "№ Счёта:" %></td>
      <td><%= f.text_field :bill_num %></td>
    </tr>
    <tr>
      <td><%= f.label "Дата счёта:" %></td>
      <td><%= f.date_select :bill_date %></td>
    </tr>
    <tr>
      <td><%= f.label "Поставщик:" %></td>
      <td><%= f.collection_select(:vendor_id, @vendors, :id, :title) %></td>
    </tr>
    <tr>
      <td><%= f.label "Сумма:" %></td>
      <td><%= f.text_field :total_sum %></td>
    </tr>
    <tr>
      <td><%= f.label "Дата оплаты:" %></td>
      <td><%= f.date_select :payment_date, include_blank: true %></td>
    </tr>
    <tr>
      <td><%= f.label "Скан:" %></td>
      <td><%= f.file_field :skan %></td>
    </tr>
    <tr>
      <td><%= f.label "Дата закрытия:" %></td>
      <td><%= f.date_select :closing_date, include_blank: true %></td>
    </tr>
    <tr>
      <td><%= f.label "Документы:" %></td>
      <td><%= f.file_field :closing_skan %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit 'Сохранить' %></td>
    </tr>
  </table>

<% end %>