<div id="login_header"> <!-- верхний блок -->
  <a href="http://www.nicetu.spb.ru/ru/" target= "_blank"><img src="images/logo.gif"></a>  <!-- картинка-ссылка -->
</div>

<div id='wrapper'>
  <h3> Отдел вычислительных комплексов и систем</h3> <!-- заголовок -->
  <div id='errors'>
    <%= alert %>
  </div>
  
  <%= render 'form' %>
</div>

<div id='login_footer'>&copy; ОАО "НИЦ СПб ЭТУ", 2014</div>