<h3>Результаты поиска</h3>

<form action='/search' id='search_form'>
  <input type='text' name='query' value='<%= @query %>' placeholder='Поиск...'/>
  <input type='submit' value='' class='icon_24 search_24 search_button'/>
</form>

<div class='table_background'>
  <% if @found.empty? %>
    <p>По вашему запросу результатов нет</p>
  <% else %>
    <table class='major_table'>
      <thead>
        <tr>
          <th>Найдено</th>
          <th>Тип записи</th>
          <th>Подробности</th>
        </tr>
      </thead>

      <tbody>
        <% @found.each do |result| %>
          <tr>
            <td><%= result.field_with @query %></td>
            <td><%= object_type(result) %></td>
            <td><%= representation(result) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>