// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info{
  width: 730px;
  overflow: auto;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px 5px;
  background-color: #F4FBFF;

  .item_info{
    float: left;
    width: 400px;
    padding-top: 10px;
    margin-bottom: 10px;

    table{
      border-collapse: collapse;
      margin: auto;

      td, th {
        padding: 2px 5px;
        border-bottom: 1px dotted rgb(0, 108, 176);
      }
      th{ text-align: right; }
      td{ text-align: left; }
    }
  }

  .scan{
    float: right;
    width: 300px;
    padding: 10px;
    background-color: #DEF;

    iframe{
      width: 100%;
      height:auto;
      border: none;
      min-height: 400px;
    }
  }
}

.receipt_checkbox_container{
  display:none;
  width: 15px;
}