// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	margin:0px;
	margin-bottom:10px;
}

#group_info{
	min-width:inherit;
	td{
		padding:8px;
	}
	tbody{
		tr:hover{
			background-color:#f0f0f0;
		}
	}
}