<%= form_tag search_path, method: 'post' do %>

  <div class="field">
    <%= text_field_tag :query, nil, size: 30, placeholder: "Введите строку для поиска..." %>
    <%= submit_tag "Искать" %>
  </div>
  
<% end %>