<h3>Изменение данных расписки</h3>

<div class='info'>
  <%= render 'form' %>
</div>

<div class='receipt_items'>
  <table class='major_table'>

    <thead>
      <th>Тип</th>
      <th>Модель</th>
      <th>Кол-во</th>
      <th>S/N</th>
    </thead>

    <tbody>
      <% @receipt.bill_positions.each do |item| %>
        <%= render 'receipt_item', item: item, receipt: nil %>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to 'Назад', bills_path %>