<h3>Создание расписки</h3>

<div class='info'>
  <%= render 'form' %>
</div>

<div class='receipt_items'>
  <table class='major_table'>

    <thead>
      <tr>
        <th>Тип</th>
        <th>Модель</th>
        <th style='border-right:1px solid #AAA !important;'>Кол-во</th>
        <th>S/N</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <%= render 'receipt_item', item: item, receipt: @receipt %>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to 'Назад', bills_path %>